# OpenAI Configuration
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

# Hugging Face Configuration
HUGGINGFACEHUB_API_TOKEN=
HUGGINGFACE_MODEL=Qwen/Qwen2.5-7B-Instruct
HUGGINGFACE_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

# Model & Embedding Providers: 'huggingface' or 'openai'
MODEL_PROVIDER=huggingface
EMBEDDING_PROVIDER=huggingface

# Vector Database Choice: 'faiss' or 'pinecone'
VECTOR_DB_TYPE=faiss
PINECONE_API_KEY=
PINECONE_INDEX_NAME=pdf-chatbot-index

# Relational Database URL
DATABASE_URL=sqlite:///./backend/database/app.db
